.Header {
  position: absolute;
  padding-right: 40px;
  z-index: 100;
  width: 100%;
  height: 80px;
}

.Menu {
  position: absolute;
  right: 140px;
  top: 35px;
  font-size: 18px;
  font-weight: 300;
}

.ShowMenu {
  display: none;
}

.IsBlur {
  backdrop-filter: blur(8px);
}

.Link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin: 20px 30px;
}