@import 'styles/variables';
@import 'styles/functions';

.Header {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 80px;
}

.Menu {
  position: absolute;
  right: 140px;
  top: 25px;
  font-size: 18px;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.Title {
  color: $white;
  font-weight: 100;
  margin: 0;
  text-transform: uppercase;
  cursor: default;
}

.HideMenu {
  animation: slide-out 0.5s forwards;
}

.ShowMenu {
  animation: slide-in .4s forwards;
}

.IsHeaderShow {
  animation: blur-in 0.5s forwards;
  backdrop-filter: blur(8px);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
}

.Link {
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  margin: 20px 30px;

  &:hover {
    text-shadow: 0 0 1px $white;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes blur-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
