.Container {
  background-color: black;
}

.Photo {
  object-fit: cover;
  height: 100vh;
  width: 100%;
  padding: 10px;
}

.ImageVisible {
  opacity: 1;
  transition: all 1s;
}

.ImageHidden {
  opacity: .1;
}