@use 'sass:math';

$background: #3d566e;
$color: #ecf0f1;

$height-icon: 20px;
$width-line: 40px;
$height-line: 2px;

$transition-time: 0.5s;
$rotation: 45deg;
$translateY: math.div($height-icon, 2);
$translateX: 0;

.HamburgerIcon {
  width: $width-line;
  height: $height-icon;
  position: absolute;
  display: block;
  top: 0px;
  right: 40px;
  cursor: pointer;

  .Line {
    display: block;
    background: $color;
    width: $width-line;
    height: $height-line;
    position: absolute;
    left: 0;
    transition: all $transition-time;

    &.FirstLine {
      top: 0;
    }

    &.SecondLine {
      top: 50%;
    }

    &.ThirdLine {
      top: 100%;
    }
  }

  &:hover, &:focus {
     .FirstLine {
      transform: translateY(math.div($height-line, 2) * -1);
     }

    .ThirdLine {
      transform: translateY(math.div($height-line, 2));
    }  
  }

  &.Active {
    .FirstLine {
      transform: translateY($translateY) translateX($translateX) rotate($rotation);
    }

    .SecondLine {
      opacity: 0;
    }

    .ThirdLine {
      transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
    }
  }
}
