@import './variables';
@import './mixins';

html {
  padding: 0;
  margin: 0;
  font-size: $base-font-size;
}

* {
  outline: none;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

* a {
  text-decoration: none;
}

* ul {
  list-style: none;
}

* {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: #26589F;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}


body {
  padding: 0;
  margin: 0;
  font-family: $base-font;
  background: $white;
  color: $black;
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $black;
  transition: background-color 5000s ease-in-out 0s;
}
